Rentals
================

Below is a selection of outdoor equipment available for rent.
Availability may vary seasonally.


.. toctree::
    :maxdepth: 1
    :caption: Leiriytyminen
    :glob:
    
    ./products/*hawu*


.. raw:: html

{{ rental_inventory }}



Notes
-----

* Prices are indicative and may vary by season.
* Some items are available only as part of a package.
* Contact us if you are looking for something specific.